/* styles.css */
.container {
    max-width: 1200px; /* maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding to create space around the content */
}

.content {
    padding-block-end: inherit;
    
}

.image-container {
    float: right; /* Float the image to the right side */
    width: 500px; /* Set the width */
    /* space around the image */
}
